<div class="bg-dark p-3 rounded">
    <h2 class="fw-bold mb-2 text-uppercase text-white text-center">Login</h2>

<form [formGroup]="loginform">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-white">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Email">
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-white">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="Password">
    </div>
    <button type="submit" class="btn btn-outline-light btn-lg px-5 text-center" (click)="OnLogin()">login</button>
    <div>
        <p class="my-2 text-white">Don't have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="text-white-50 fw-bold">Sign Up</a>
        </p>
      </div>
  </form>
</div>
