<h1>Add Games</h1>
<form [formGroup]="gamesform">
    <div class="mb-3">
      <label for="fullName" class="form-label">Game Name:</label>
      <input type="text" class="form-control" id="fullName" aria-describedby="emailHelp" formControlName="gameName" >
    </div>
    <div class="mb-3">
        <label for="fullName" class="form-label">Game Price:</label>
        <input type="text" class="form-control" id="fullName" aria-describedby="emailHelp" formControlName="gamePrice" >
      </div>
    <button type="submit" class="btn btn-primary btn-lg px-5 text-center" (click)="OnAdd()">ADD</button>
  </form>


